# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Spring Boot related
*.db
*.h2.db
*.mv.db

# Others
*.class
*.jar
*.war
*.ear
